<app-navbar></app-navbar>


<div *ngIf="vehicles">

  <!--HEADERS-->

  <mat-list class="listHeader">
    <div fxLayout="row">
      <mat-list-item fxFlex="fill">
        <p class="column-header-text" mat-line>Name</p>
      </mat-list-item>

      <mat-list-item fxFlex="33%">
        <p class="column-header-text" mat-line>Model</p>
      </mat-list-item>

      <mat-list-item fxFlex="33%">
        <p class="column-header-text" mat-line>Manufacturer</p>
      </mat-list-item>

    </div>
  </mat-list>

  <!--HEADERS END-->

  <mat-list
    *ngFor="let vehicle of vehicles; let i = index"
    [attr.data-index]="i">

    <div fxLayout="row">
      <mat-list-item fxFlex="fill">
        <p class="desco-list-text" mat-line>{{vehicle.name}}</p>
      </mat-list-item>

      <mat-list-item fxFlex="33%">
        <p class="desco-list-text" mat-line>{{vehicle.model}}</p>
      </mat-list-item>

      <mat-list-item fxFlex="33%">
        <p class="desco-list-text" mat-line>{{vehicle.manufacturer}}</p>
      </mat-list-item>
    </div>

    <mat-divider></mat-divider>
  </mat-list>
</div>


<img class="pageImage" src="../../assets/images/vehicle.png" alt="">
