/* You can add global styles to this file, and also import other style files */
@import "./theme.css";

@font-face {
  font-family: 'JediOut';
  src: url('./assets/fonts/starjout/Starjout.ttf');
}

body {
  margin: 0;
}

h3, i {
  line-height: 58px !important;
}

.txtStar {
  font-size: 3em;
  font-family: 'JediOut', 'Georgia', serif;
}

.centeredContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h100 {
  height: 100%;
}

#logoImage {
  margin-top: 7px;
  width: 120px;
  max-width: 120px;
}

.pageImage {
  opacity: 0.3;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  max-width: 50%;
}

.listHeader {
  background: #A92222;
}

.mat-list, .mat-nav-list, .mat-selection-list {
  padding-top: 0 !important;
}

.listHeader p {
  font-weight: 800;
  color: #FFFFFF;
}
