<app-navbar></app-navbar>

<div fxLayout="row">
  <div fxFlex="33.3%" class="centeredContent">
    <a (click)="openFilms()">
      <h3 class="txtStar">Films</h3>
      <img src="../../assets/images/r2d2.png" alt="">
    </a>
  </div>
  <div fxFlex="33.3%" class="centeredContent">
    <a (click)="openPeople()">
      <h3 class="txtStar">People</h3>
      <img src="../../assets/images/jedi.png" alt="">
    </a>
  </div>
  <div fxFlex="33.3%" class="centeredContent">
    <a (click)="openPlanets()">
      <h3 class="txtStar">Planets</h3>
      <img src="../../assets/images/planet.png" alt="">
    </a>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex="33.3%" class="centeredContent">
    <a (click)="openSpecies()">
      <h3 class="txtStar">Species</h3>
      <img src="../../assets/images/species.png" alt="">
    </a>
  </div>
  <div fxFlex="33.3%" class="centeredContent">
    <a (click)="openStarships()">
      <h3 class="txtStar">Starships</h3>
      <img src="../../assets/images/starship.png" alt="">
    </a>
  </div>
  <div fxFlex="33.3%" class="centeredContent">
    <a (click)="openVehicles()">
      <h3 class="txtStar">Vehicles</h3>
      <img src="../../assets/images/vehicle.png" alt="">
    </a>
  </div>
</div>

<button mat-fab class="clearButton" color="warn" (click)="clearData()">Clear</button>

