<app-navbar></app-navbar>

<div fxLayout="row">
  <div fxFlex="33.3%" class="centeredContent">
    <a (click)="openFilms()" matTooltip="Films" position="below">
      <img src="../../assets/images/r2d2.png" alt="">
    </a>
  </div>
  <div fxFlex="33.3%" class="centeredContent">
    <a (click)="openPeople()" matTooltip="People" position="below">
      <img src="../../assets/images/vader.png" alt="">
    </a>
  </div>
  <div fxFlex="33.3%" class="centeredContent">
    <a (click)="openPlanets()" matTooltip="Planets" position="below">
      <img src="../../assets/images/planet.png" alt="">
    </a>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex="33.3%" class="centeredContent">
    <a (click)="openSpecies()" matTooltip="Species" position="below">
      <img src="../../assets/images/species.png" alt="">
    </a>
  </div>
  <div fxFlex="33.3%" class="centeredContent">
    <a (click)="openStarships()" matTooltip="Starships" position="below">
      <img src="../../assets/images/starship.png" alt="">
    </a>
  </div>
  <div fxFlex="33.3%" class="centeredContent">
    <a (click)="openVehicles()" matTooltip="Vehicles" position="below">
      <img src="../../assets/images/vehicle.png" alt="">
    </a>
  </div>
</div>

<button mat-fab class="clearButton" color="warn" (click)="clearData()">Clear</button>

